{% extends 'tardis/bootstrap.html' %}

{% load url from future %}

{% load bootstrap3 %}

{% block bootstrap3_content %}

<div class="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="">
          <img alt="TARDIS" src="...">
        </a>
      </div>
    </div>
  </nav>
  <h1>{% block title %}(no title){% endblock %}</h1>
  {% bootstrap_messages %}
  {% block content %}(no content){% endblock %}
</div>

{% endblock %}
