<!-- strutre option -->
<div class="form-group col-sm-6">
  <label for="exampleInputEmail1" class="control-label">
    structure: 
  </label>
  <select ng-model="main.data.model.struture.type">
    <option value="file">file</option>
    <option value="specific">specific</option>
  </select>

  
</div>

<div class="clearfix"></div>
<ng-switch on="main.data.model.struture.type">
  <div ng-switch-when="file" class="well clearfix">
    
    <div class="form-group col-sm-7">
      <label for="exampleInputEmail1" class="control-label">
        filename:
      </label>
      <div>
        <input type="file" class="form-control" required
                ng-model="main.data.model.struture.filemane">
      </div>
      <span class="help-block">select to structure model file</span>
    </div>

    <div class="form-group col-sm-5 pull-right">
      <label for="exampleInputEmail1" class="control-label">
        filetype:
      </label>
      <div>
        <select class="form-control" ng-model="main.data.model.struture.filetype">
          <option value="simple_ascii">simple_ascii</option>
          <option value="artis">artis</option>
        </select>
      </div>
    </div>

    <!-- Advanced options -->
    <div class="advanced" ng-show="main.advanced">
      <div class="form-group col-sm-6">
        <label for="exampleInputEmail1" class="control-label">
          v inner boundary:
        </label>
        <div class="input-group">
          <input type="number" class="form-control" step="any" required
                  ng-model="main.data.model.struture.v_inner_boundary">
          <div class="input-group-addon">
            <select id="">
              <option value="lal">km/s</option>
            </select>
          </div>
        </div>
        <span class="help-block">location of the inner boundary chosen from the model</span>
      </div>
      <div class="form-group col-sm-6 pull-right">
        <label for="exampleInputEmail1" class="control-label">
          v outer boundary:
        </label>
        <div class="input-group">
          <input type="number" class="form-control" step="any" required
                  ng-model="main.data.model.struture.v_outer_boundary">
          <div class="input-group-addon">
            <select id="">
              <option value="lal">km/s</option>
            </select>
          </div>
        </div>
        <span class="help-block">location of the inner boundary chosen from the model</span>
      </div>
    </div>

  </div>
  <div ng-switch-when="specific" class="well clearfix">

    <div class="form-group col-sm-12 pull-right">
      <label for="exampleInputEmail1" class="col-sm-3 control-label">
        Velocity:
      </label>
      <div class="col-sm-3">
        <input type="number" class="form-control" required
                ng-model="main.data.model.struture.velocity.start">
        <span class="help-block">start</span>
      </div>
      <div class="col-sm-3">
        <input type="number" class="form-control" required
                ng-model="main.data.model.struture.velocity.end">
        <span class="help-block">end</span>
      </div>
      <div class="col-sm-3">
        <input type="number" class="form-control" required
                ng-model="main.data.model.struture.velocity.num">
        <span class="help-block">num</span>
      </div>
      <span class="help-block pull-right">description of the boundaries of the shells</span>
    </div>
    <div class="clearfix"></div>
    <div class="form-group col-sm-12">
      <label for="exampleInputEmail1" class="control-label">
        density: 
      </label>
      <select ng-model="main.data.model.struture.density.type">
        <option value="branch85_w7">branch85_w7</option>
        <option value="exponential">exponential</option>
        <option value="power_law">power law</option>
        <option value="uniform">uniform</option>
      </select>
    </div>
    <!-- density options -->
    <div class="clearfix"></div>
    <ng-switch on ="main.data.model.struture.density.type">
      <div ng-switch-when="exponential">
          
        <div class="form-group col-sm-6">
          <label for="exampleInputEmail1" class="control-label">
            time 0:
          </label>
          <div class="input-group">
            <input type="number" class="form-control" step="any" required>
            <div class="input-group-addon">
              <select id="">
                <option value="lal">year</option>
                <option value="lal">month</option>
                <option value="lal">day</option>
              </select>
            </div>
          </div>
          <span class="help-block">Time at which the pure model densities are right</span>
        </div>
        <div class="form-group col-sm-6 pull-right">
          <label for="exampleInputEmail1" class="control-label">
            rho 0:
          </label>
          <div class="input-group">
            <input type="text" class="form-control" required>
            <div class="input-group-addon">
              <select id="">
                <option value="lal">g/cm^3</option>
              </select>
            </div>
          </div>
          <span class="help-block">density at time 0</span>
        </div>
        <div class="form-group col-sm-6">
          <label for="exampleInputEmail1" class="control-label">
            v 0:
          </label>
          <div class="input-group">
            <input type="number" class="form-control" step="any" required>
            <div class="input-group-addon">
              <select id="">
                <option value="lal">km/s</option>
              </select>
            </div>
          </div>
          <span class="help-block">at what velocity the density rho_0 applies</span>
        </div>


      </div>
      <div ng-switch-when="power_law">
          
        <div class="form-group col-sm-6">
          <label for="exampleInputEmail1" class="control-label">
            time 0:
          </label>
          <div class="input-group">
            <input type="number" class="form-control" step="any" required>
            <div class="input-group-addon">
              <select id="">
                <option value="lal">years</option>
                <option value="lal">months</option>
                <option value="lal">days</option>
              </select>
            </div>
          </div>
          <span class="help-block">Time at which the pure model densities are right</span>
        </div>
        <div class="form-group col-sm-6 pull-right">
          <label for="exampleInputEmail1" class="control-label">
            rho 0:
          </label>
          <div class="input-group">
            <input type="text" class="form-control" required>
            <div class="input-group-addon">
              <select id="">
                <option value="lal">g/cm^3</option>
              </select>
            </div>
          </div>
          <span class="help-block">density at time 0</span>
        </div>
        <div class="form-group col-sm-6">
          <label for="exampleInputEmail1" class="control-label">
            v 0:
          </label>
          <div class="input-group">
            <input type="number" class="form-control" step="any" required>
            <div class="input-group-addon">
              <select id="">
                <option value="lal">km/s</option>
              </select>
            </div>
          </div>
          <span class="help-block">at what velocity the density rho_0 applies</span>
        </div>
        <div class="form-group col-sm-6 pull-right">
          <label for="exampleInputEmail1" class="control-label">
            exponent:
          </label>
          <div>
            <input type="text" class="form-control" required>
          </div>
          <span class="help-block">exponent for exponential density profile</span>
        </div>


      </div>
      <div ng-switch-when="uniform">
        <div class="form-group col-sm-6">
          <label for="exampleInputEmail1" class="control-label">
            value:
          </label>
          <div class="input-group">
            <input type="number" class="form-control" step="any" required>
            <div class="input-group-addon">
              <select id="">
                <option value="lal">???</option>
              </select>
            </div>
          </div>
          <span class="help-block">value for uniform density</span>
        </div>
      </div>

    </ng-switch>
  </div>
  
</ng-switch>

<!-- abundace option -->
<div class="clearfix"></div>
<div class="form-group col-sm-6">
  <label for="exampleInputEmail1" class="control-label">
    abundance: 
  </label>
  <select ng-model="main.data.model.abundance.type">
    <option value="uniform">uniform</option>
    <option value="file">file</option>
  </select>
</div>

<div class="clearfix"></div>
<ng-switch on="main.data.model.abundance.type">
  <div ng-switch-when="file" class="well clearfix">
    
    <div class="form-group col-sm-7">
      <label for="exampleInputEmail1" class="control-label">
        filename:
      </label>
      <div>
        <input type="file" class="form-control" required
                ng-model="main.data.model.abundance.file">
      </div>
      <span class="help-block">select to abundance model file</span>
    </div>

    <div class="form-group col-sm-5 pull-right">
      <label for="exampleInputEmail1" class="control-label">
        filetype:
      </label>
      <div>
        <select class="form-control" ng-model="main.data.model.abundance.filetype">
          <option value="simple_ascii">simple_ascii</option>
          <option value="artis">artis</option>
        </select>
      </div>
    </div>

  </div>

  </div>
  <div ng-switch-when="uniform" class="well clearfix">
    
    <div class="col-sm-12">
      <tag-input taglist="main.data.model.abundance.uniform" placeholder="add abundace" 
                  ng-model="main.data.model.abundance.uniform">
      </tag-input>
    </div>
    <span class="help-block pull-right">
      set the elemental abundances, specified as mass fractions e.g. Si: 0.6, S: 0.4, then press enter to add a new one.
    </span>

  </div>
  
</ng-switch>