<div class="form-group col-sm-6">
  <label for="exampleInputEmail1" class="col-sm-4 control-label">
    ionization:
  </label>
  <div class="col-sm-8">
    <select class="form-control" ng-model="main.data.plasma.ionization">
      <option value="nebular">nebular</option>
      <option value="lte">lte</option>
    </select>
  </div>
  <span class="help-block pull-right">ionization treatment mode</span>
</div>
<div class="form-group col-sm-6 pull-right">
  <label for="exampleInputEmail1" class="col-sm-4 control-label">
    excitation:
  </label>
  <div class="col-sm-8">
    <select class="form-control" ng-model="main.data.plasma.excitation">
      <option value="lte">lte</option>
      <option value="dilute-lte">dilute-lte</option>
    </select>
  </div>
  <span class="help-block pull-right">excitation treatment mode</span>
</div>
<div class="form-group col-sm-6">
  <label for="exampleInputEmail1" class="col-sm-6 control-label">
    radiative rates type:
  </label>
  <div class="col-sm-6">
    <select class="form-control" ng-model="main.data.plasma.radiative_rates_type">
      <option value="dilute-blackbody">dilute-blackbody</option>
      <option value="detailed">detailed</option>
    </select>
  </div>
  <span class="help-block pull-right">rates treatment mode</span>
</div>
<div class="form-group col-sm-6 pull-right">
  <label for="exampleInputEmail1" class="col-sm-6 control-label">
    line interaction type:
  </label>
  <div class="col-sm-6">
    <select class="form-control" ng-model="main.data.plasma.line_interaction_type">
      <option value="scatter">scatter</option>
      <option value="downbranch">downbranch</option>
      <option value="macroatom">macroatom</option>
    </select>
  </div>
  <span class="help-block pull-right">line interaction mode</span>
</div>
<!--  -->
<!-- Advanced options -->
<!--  -->
<div class="advanced" ng-show="main.advanced">
  <div class="form-group col-sm-6">
    <label for="exampleInputEmail1" class="control-label">
      initial t inner:
    </label>
    <div class="input-group">
      <input type="number" class="form-control" step="any" required
              ng-model="main.data.plasma.initial_t_inner">
      <div class="input-group-addon">
        <select id="">
          <option value="lal">K</option>
        </select>
      </div>
    </div>
    <span class="help-block">
      initial temperature of the inner boundary black body. If set to -1 K 
      will result in automatic calculation of boundary
    </span>
  </div>
  <div class="form-group col-sm-6 pull-right">
    <label for="exampleInputEmail1" class="control-label">
      initial t rad:
    </label>
    <div class="input-group">
      <input type="number" class="form-control" step="any" required
              ng-model="main.data.plasma.initial_t_rad">
      <div class="input-group-addon">
        <select id="">
          <option value="lal">K</option>
        </select>
      </div>
    </div>
    <span class="help-block">
      initial radiative temperature in all cells (if set
    </span>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-sm-6">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="main.data.plasma.delta_treatment"> delta treatment
      </label>
    </div>
    <span class="help-block">
      In the saha calculation set delta equals to the number given in
      this configuration item. if set to None (default), normal delta
      treatment (as described in Mazzali &amp; Lucy 1993) will be applied
    </span>
  </div>
  <div class="form-group col-sm-6 pull-right">
    <label for="exampleInputEmail1" class="control-label">
      w epsilon:
    </label>
    <div>
      <input type="text" class="form-control" required
              ng-model="main.data.plasma.w_epsilon">
    </div>
    <span class="help-block">
      w to use when j_blues get numerically 0. - avoids numerical complications
    </span>
  </div>
  <div class="clearfix"></div>
  <div class="form-group col-sm-6">
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="main.data.plasma.disable_electron_scattering"> 
        disable electron scattering
      </label>
    </div>
    <span class="help-block">
      disable electron scattering process in montecarlo part - non-physical only
      for tests
    </span>
  </div>
  <div class="clearfix"></div>
  <h4 class="col-sm-12">nlte options</h4>
  <div class="form-group col-sm-12">
    <label for="exampleInputEmail1" class="control-label">
      nlte - species:
    </label>
    <div>
      <tag-input taglist="main.data.plasma.nlte.species" placeholder="add specie" 
                  ng-model="main.data.plasma.nlte.species">
      </tag-input>
    </div>
    <span class="help-block pull-right">
      Species that are requested to be NLTE treated in the format 
      'Si 2', 'Ca 1', etc.
    </span>
  </div>
  
    
  <div class="checkbox col-sm-6">
    <label>
      <input type="checkbox" ng-model="main.data.plasma.nlte.coronal_approximation"> 
      nlte - coronal approximation
    </label>
  </div>
  <div class="checkbox col-sm-6">
    <label>
      <input type="checkbox" ng-model="main.data.plasma.nlte.classical_nebular"> 
      nlte - classical nebular
    </label>
  </div>  
      

    
</div>