<div class="form-group col-sm-6">
  <label for="exampleInputEmail1" class="control-label">
    luminosity requested:
  </label>
  <div class="input-group">
    <input type="number" class="form-control" step="any" required
            ng-model="main.data.supernova.luminosity_requested">
    <div class="input-group-addon">
      <select id="">
        <option value="lal">solLum</option>
        <option value="lal">log_lsun</option>
      </select>
    </div>
  </div>
  <span class="help-block">requested output luminosity for simulation</span>
</div>
<div class="form-group col-sm-6 pull-right">
  <label for="exampleInputEmail1" class="control-label">
    time explosion:
  </label>
  <div class="input-group">
    <input type="number" class="form-control" step="any" required
            ng-model="main.data.supernova.time_explosion">
    <div class="input-group-addon">
      <select id="">
        <option value="lal">years</option>
        <option value="lal">months</option>
        <option value="lal">days</option>
      </select>
    </div>
  </div>
  <span class="help-block">time since explosion</span>
</div>
<!-- Advanced options -->
<div class="advanced" ng-show="main.advanced" >
  <div class="form-group col-sm-6">
    <label for="exampleInputEmail1" class="control-label">
      luminosity wavelength start:
    </label>
    <div class="input-group">
      <input type="number" class="form-control" step="any" required
              ng-model="main.data.supernova.luminosity_wavelength_start">
      <div class="input-group-addon">
        <select id="">
          <option value="lal">angstrom</option>
        </select>
      </div>
    </div>
    <span class="help-block">
      start of the integral needed for getting the luminosity right
    </span>
  </div>
  <div class="form-group col-sm-6 pull-right">
    <label for="exampleInputEmail1" class="control-label">
      luminosity wavelength end:
    </label>
    <div class="input-group">
      <input type="number" class="form-control" step="any" required
              ng-model="main.data.supernova.luminosity_wavelength_end">
      <div class="input-group-addon">
        <select id="">
          <option value="lal">angstrom</option>
        </select>
      </div>
    </div>
    <span class="help-block">
      end of the integral needed for getting the luminosity right
    </span>
  </div>
  <div class="form-group col-sm-6">
    <label for="exampleInputEmail1" class="control-label">
      distance:
    </label>
    <div class="input-group">
      <input type="number" class="form-control" step="any" required
              ng-model="main.data.supernova.distance">
      <div class="input-group-addon">
        <select id="">
          <option value="lal">lightyear</option>
        </select>
      </div>
    </div>
    <span class="help-block">distance to supernova</span>
  </div>
</div>