.DS_Store
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
.idea
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.tmp*
*.komodoproject
#special to the tardis project
tardis/data/w7*
tardis/*.c
tardis/*.html

#special for TARDIS docs
# Sphinx
_build
_generated
docs/gui.rst.*
