language: python

python:
    - 2.7
    - 3.3

env:
    # try all python versions with the latest stable numpy and astropy
    - NUMPY_VERSION=1.7.1 SETUP_CMD='test'


before_install:
   # We do this to make sure we get the dependencies so pip works below
   - sudo apt-get update -qq
   - sudo apt-get install -qq python-numpy python-pandas python-scipy python-h5py python-sphinx cython libatlas-dev liblapack-dev gfortran
   - if [[ $SETUP_CMD == build_sphinx* ]]; then sudo apt-get install -qq python-sphinx graphviz texlive-latex-extra dvipng python-matplotlib; fi

install:
   - export PYTHONIOENCODING=UTF8 # just in case
   - pip -q install --upgrade "numpy==$NUMPY_VERSION" --use-mirrors
   - pip -q install --upgrade Cython --use-mirrors
   - pip -q install --upgrade pandas --use-mirrors
   - pip -q install --upgrade scipy --use-mirrors
   - pip -q install astropy --use-mirrors
   #- pip -q install --upgrade h5py --use-mirrors
   - if [[ $SETUP_CMD == build_sphinx* ]]; then pip -q install sphinx==1.1.3 --use-mirrors; fi
   - if [[ $SETUP_CMD == build_sphinx* ]]; then pip -q install matplotlib --use-mirrors; fi


script:
   - python setup.py $SETUP_CMD