os:
  - linux
language: python

python:
    - 2.7

virtualenv:
  system_site_packages: true

addons:
  apt:
    packages:
    - clang
    - gdb

sudo: true

env:
    global:
        - COMPILER=gcc
        - PANDAS_VERSION=0.16
        - ASTROPY_USE_SYSTEM_PYTEST=1
        - SETUP_CMD='test'
        - TEST_MODE='normal'
        - REF_DATA_HOME=$HOME/tardis-refdata
        - MINICONDA_URL='http://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh'
        - SAVE_COVERAGE=false
        - GIT_LFS_SKIP_SMUDGE=1

matrix:
    include:
        - python: 2.7
          env:
            - COMPILER=gcc
            - SETUP_CMD='test --coverage --args="--tardis-refdata=$REF_DATA_HOME"'
            - TEST_MODE='spectrum'
            - SAVE_COVERAGE=true

        - python: 2.7
          env:
            - COMPILER=clang
            - SETUP_CMD='test --args="--tardis-refdata=$REF_DATA_HOME"'
            - TEST_MODE='spectrum'

#trouble with osx building due to segfault at cython (https://github.com/cython/cython/issues/2199)
        - os: osx
          language: generic
          env:
            - COMPILER=clang
            - SETUP_CMD='test --args="--tardis-refdata=$REF_DATA_HOME"'
            - TEST_MODE='spectrum'
            - MINICONDA_URL='http://repo.continuum.io/miniconda/Miniconda2-latest-MacOSX-x86_64.sh'


        - python: 2.7
          env: SETUP_CMD='test'
cache:
  apt: true
  directories:
    - $HOME/miniconda
    - $REF_DATA_HOME


before_install:
    # We do this to make sure we get the dependencies so pip works below
    - source ci-helpers/install_miniconda.sh


install:
   - source ci-helpers/install_tardis_env.sh
   #trouble with building due to segfault at cython (https://github.com/cython/cython/issues/2199)
   #remove if we can get normal cython through conda
   - git clone https://github.com/cython/cython
   - cd cython
   - git checkout c485b1b77264c3c75d090a3c526de24966830d42
   - CFLAGS="$CFLAGS -D CYTHON_CLINE_IN_TRACEBACK=0" python setup.py install
   - cd ..

script:
    - echo CC=$COMPILER python setup.py $SETUP_CMD
    - CC=$COMPILER python setup.py $SETUP_CMD

after_success:
    - if [[ "$SAVE_COVERAGE" = true ]]; then codecov -t a876d307-9ed5-4f5d-a6c4-e58291ac4111; fi


after_failure:
    - cat /home/travis/.pip/pip.log
