os:
  - linux
language: python

python:
    - 2.7

virtualenv:
  system_site_packages: true

cache:
  apt: true

sudo: false

env:
    global:
        - COMPILER=gcc
        - PANDAS_VERSION=0.16
        - ASTROPY_USE_SYSTEM_PYTEST=1
        - SETUP_CMD='test'
        - TEST_MODE='normal'
        - ATOM_DATA_URL='http://www.mpa-garching.mpg.de/~michi/tardis/data/kurucz_cd23_chianti_H_He.zip'
        - MINICONDA_URL='http://repo.continuum.io/miniconda/Miniconda-latest-Linux-x86_64.sh'
        - CARSUS_DB_URL='https://github.com/tardis-sn/carsus-db.git'

matrix:
    include:
        - python: 2.7
          env:
            - COMPILER=gcc
            - SETUP_CMD='test --args="--atomic-dataset=$HOME/kurucz_cd23_chianti_H_He.h5"'
            - TEST_MODE='spectrum'

        - python: 2.7
          env:
            - COMPILER=clang
            - SETUP_CMD='test --args="--atomic-dataset=$HOME/kurucz_cd23_chianti_H_He.h5"'
            - TEST_MODE='spectrum'

        - os: osx
          language: generic
          env:
            - COMPILER=clang
            - SETUP_CMD='test --args="--atomic-dataset=$HOME/kurucz_cd23_chianti_H_He.h5"'
            - TEST_MODE='spectrum'
            - MINICONDA_URL='http://repo.continuum.io/miniconda/Miniconda2-latest-MacOSX-x86_64.sh'


        - python: 2.7
          env: SETUP_CMD='test --coverage'

addons:
  apt:
    packages:
    - clang




before_install:
    # We do this to make sure we get the dependencies so pip works below
    - export PYTHONIOENCODING=UTF8
    - wget $MINICONDA_URL -O miniconda.sh
    - chmod +x miniconda.sh
    - bash miniconda.sh -b -p $HOME/miniconda
    - export PATH=$HOME/miniconda/bin:$PATH
    - hash -r
    - conda update --yes conda

    - if [[ $TEST_MODE == 'spectrum' ]]; then conda install -c ostrokach git-lfs=1.2.1 -y; fi
    - if [[ $TEST_MODE == 'spectrum' ]]; then git lfs install --skip-smudge; fi
    - if [[ $TEST_MODE == 'spectrum' ]]; then git clone $CARSUS_DB_URL $HOME/carsus-db; fi
    - if [[ $TEST_MODE == 'spectrum' ]]; then cd $HOME/carsus-db; fi
    - if [[ $TEST_MODE == 'spectrum' ]]; then git lfs pull --include="test_hdfstores/" origin; fi
    - if [[ $TEST_MODE == 'spectrum' ]]; then unzip test_hdfstores/kurucz_cd23_chianti_H_He.h5 -d $HOME; fi

install:
   - cd $TRAVIS_BUILD_DIR
   - conda env create -f tardis_env27.yml
   - source activate tardis

script:
    - echo CC=$COMPILER python setup.py $SETUP_CMD
    - CC=$COMPILER python setup.py $SETUP_CMD

after_success:
    - if [[ $SETUP_CMD == 'test --coverage' ]]; then coveralls; fi

after_failure:
    - cat /home/travis/.pip/pip.log
