include README.rst
include pip-requirements
include distribute_setup.py
recursive-include tardis *.pyx *.c *.h
recursive-include tardis/randomkit *.c *.h

recursive-include docs *
recursive-include licenses *
recursive-include cextern *
recursive-include scripts *
