include README.rst
include CHANGES.rst

include ez_setup.py
include ah_bootstrap.py
include setup.cfg

recursive-include *.pyx *.c *.pxd *.h
recursive-include tardis/montecarlo/src *.h *.c
recursive-include tardis/io/schemas *.yml
recursive-include tardis/data *
recursive-include docs *
recursive-include licenses *
recursive-include cextern *
recursive-include scripts *

prune build
prune docs/_build
prune docs/api

recursive-include astropy_helpers *
recursive-include astropy_helpers/astropy_helpers.egg-info *
exclude astropy_helpers/.git
exclude astropy_helpers/.gitignore

global-exclude *.pyc *.o
