[run]
source = tardis

[report]
exclude_lines =
   # Have to re-enable the standard pragma
   pragma: no cover

   # Don't complain about packages we have installed
   except ImportError

   # Don't complain if tests don't hit assertions
   raise AssertionError
   raise NotImplementedError

   # Don't complain about script hooks
   def main\(.*\):

   # Ignore branches that don't pertain to this version of Python
   pragma: py{ignore_python_version}

omit =
   
   # Tests should not appear in coveralls 
   tardis/tests/*
   tardis/plasma/tests/*
   tardis/model/tests/*
   tardis/montecarlo/tests/*
   tardis/simulation/tests/*
   tardis/io/tests/*
   
   # Omit all setup_package.py files 
   tardis/tests/setup_package.py
   tardis/plasma/setup_package.py
   tardis/montecarlo/setup_package.py
   tardis/model/setup_package.py
   tardis/simulation/setup_package.py
   tardis/io/setup_package.py

   tardis/gui*
   tardis/stats/*
   tardis/analysis.py

   # Omit all version and __init__.py files 
   *version*
   *__init__*
   *_astropy_init*
   

