<div class="form-group well" id="uniformContAbund" style="display:none;">
    <div class="form-group">
        <label for="inputEmail" class="col-lg-3 control-label">Add Species <span class="badge" style="cursor:pointer; font-weight:900;" data-toggle="tooltip" data-placement="top" title="" data-original-title="set the elemental abundances, specified as mass fractions e.g. Si: 0.6, S: 0.4, then press enter to add a new one.">i</span> <span class="label label-info">mand</span></label>
        <div class="input-group col-lg-7 col-lg-offset-1">
            <input type="text" class="form-control tags-inp" data-field="" data-parentTags="model-abundances" data-type="float" placeholder="Type species follwed by number like Si:0.6" data-role="tagsinput">
        </div>
    </div>
</div>