<div class="form-group well" id="dampedContMC" style="display:none;">
    <div class="form-group">
        <label class="col-lg-3 col-lg-offset-1 control-label">Damping constant</label>
        <div class="input-group col-lg-7 col-lg-offset-1">
            <input type="text" class="form-control" data-field="damping_constant" data-parentTags="montecarlo-convergence_criteria"  data-type="float" placeholder="Damping constant">
            <span class="input-group-addon"><span class="badge"  data-toggle="tooltip" data-placement="top" title="" data-original-title="Damping constant">i</span> <span class="label label-info">non-mand</span></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-11 col-lg-offset-1 control-label">t_inner</label>
        <div class="input-group col-lg-5 col-lg-offset-1" style="float:left;">
            <input type="text" class="form-control" data-field="damping_constant" data-parentTags="montecarlo-convergence_criteria-t_inner"  data-type="float" placeholder="Damping constant">
            <span class="input-group-addon"><span class="badge"  data-toggle="tooltip" data-placement="top" title="" data-original-title="Damping constant">i</span> <span class="label label-info">non-mand</span></span>
        </div>
        <div class="input-group col-lg-5 col-lg-offset-1">
            <input type="text" class="form-control" data-field="threshold" data-parentTags="montecarlo-convergence_criteria-t_inner" data-type="float" placeholder="Threshold">
            <span class="input-group-addon"><span class="badge"  data-toggle="tooltip" data-placement="top" title="" data-original-title="specifies the threshold that is taken as convergence (i.e. 0.05 means that the value does not change more than 5%)">i</span> <span class="label label-info">non-mand</span></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-11 col-lg-offset-1 control-label">t_rad</label>
        <div class="input-group col-lg-5 col-lg-offset-1" style="float:left;">
            <input type="text" class="form-control" data-field="damping_constant" data-parentTags="montecarlo-convergence_criteria-t_rad" data-type="float" placeholder="Damping constant">
            <span class="input-group-addon"><span class="badge"  data-toggle="tooltip" data-placement="top" title="" data-original-title="Damping constant">i</span> <span class="label label-info">non-mand</span></span>
        </div>
        <div class="input-group col-lg-5 col-lg-offset-1">
            <input type="text" class="form-control" data-field="threshold" data-parentTags="montecarlo-convergence_criteria-t_rad" data-type="float" placeholder="Threshold">
            <span class="input-group-addon"><span class="badge"  data-toggle="tooltip" data-placement="top" title="" data-original-title="specifies the threshold that is taken as convergence (i.e. 0.05 means that the value does not change more than 5%)">i</span> <span class="label label-info">mand</span></span>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-11 col-lg-offset-1 control-label">w</label>
        <div class="input-group col-lg-5 col-lg-offset-1" style="float:left;">
            <input type="text" class="form-control" data-field="damping_constant" data-parentTags="montecarlo-convergence_criteria-w" data-type="float" placeholder="Damping constant">
            <span class="input-group-addon"><span class="badge"  data-toggle="tooltip" data-placement="top" title="" data-original-title="Damping constant">i</span> <span class="label label-info">non-mand</span></span>
        </div>
        <div class="input-group col-lg-5 col-lg-offset-1">
            <input type="text" class="form-control" data-field="threshold" data-parentTags="montecarlo-convergence_criteria-w" data-type="float" placeholder="Threshold">
            <span class="input-group-addon"><span class="badge"  data-toggle="tooltip" data-placement="top" title="" data-original-title="specifies the threshold that is taken as convergence (i.e. 0.05 means that the value does not change more than 5%)">i</span> <span class="label label-info">mand</span></span>
        </div>
    </div>
</div>