<div class="well col-lg-8 col-lg-offset-2" id="mainConfDiv">
    <legend>Main Configuration</legend>
    <div class="form-group">
        <label for="tardisConf" class="col-lg-3 col-lg-offset-1 control-label">Tardis Config Version</label>
        <div class="input-group col-lg-7 col-lg-offset-1">
            <input type="text" class="form-control" name="tardisConf" data-field="tardis_config_version" data-parentTags="" data-type="quantity" placeholder="Tardis Config Version">
            <span class="input-group-addon"><span class="badge" data-toggle="tooltip" data-placement="top" title="" data-original-title="Version of the configuration file">i</span> <span class="label label-info">mand</span></span>
        </div>
    </div>
</div>