body{
	padding-top: 40px;
}
/* centered columns styles */
.row-centered {
	text-align:center;
}
.col-centered {
	display:inline-block;
	float:none;
	/* reset the text-align */
	text-align:left;
	/* inline-block space fix */
	margin-right:-4px;
}

.input-form{
	max-width: 800px;
}
.padding {
	padding: 2em 1em;
}

span.pull-right{
	text-align: right;
}

.advanced label {
	color: darkorange;
}

tag-input{
	min-width: 100%;
}
.tag-input-ctn {
	border: 1px solid #ccc;
	padding: 2px 3px;
	padding: 5px;
	display: inline-block;
	width: 500px;
	border-radius: 3px;
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.075);
	min-width: 100%;
}
.tag-input-ctn  input {
	display: inline-block;
	float: left;
	height: 18px;
	padding: 0px;
	font-size: 13px;
	line-height: 18px;
	color: black;
	border: 0px;
	margin: 2px;
}
.tag-input-ctn  input:focus {
	outline: 0;
	box-shadow: 0px;
}
.tag-input-ctn   .input-tag {
	padding: 2px 4px;
	line-height: 12px;
	font-size: 11px;
	background-color: #e3eaf6;
	display: inline-block;
	float: left;
	border-radius: 2px;
	margin: 2px 5px 2px 0px;
	border: 1px solid #a9b6d2;
}
.tag-input-ctn .input-tag .delete-tag {
	display: inline-block;
	font-size: 12px;
	cursor: pointer;
	padding: 0px 2px;
}
.tag-input-ctn .input-tag .delete-tag:hover{
	background-color: #96b4d2;
}


.ng-valid.ng-touched{
	border-color: #3c763d;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.ng-valid.ng-touched:focus{
	border-color: #2b542c;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #67b168;
}

.ng-invalid.ng-touched{
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.ng-invalid.ng-touched:focus{
	border-color: #843534;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}


