

<!-- jQuery (necessary for Bootstrap's JavaScript plugins)-->
    <script src="js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed-->
    <script src="js/bootstrap.min.js"></script>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
      $("select#montecarlo-convergence_strategy_type").change(function(){
        var div = $(this).closest('.panel')[0].id;
        selected = $(this).children(":selected").val();
        $( "#"+div+" ."+$(this)[0].id.split('-')[1]).removeClass( "visible");
        $( "#"+div+" ."+selected ).addClass( "visible");
      });
      $("select#structure_model-type").change(function(){
        var div = $(this).closest('.panel')[0].id;
        selected = $(this).children(":selected").val();
        $( "#"+div+" ."+$(this)[0].id.split('-')[1]).removeClass( "visible");
        $( "#"+div+" ."+selected ).addClass( "visible");
      });
      $("select#structure_model-density_type").change(function(){
        var div = $(this).closest('.panel')[0].id;
        selected = $(this).children(":selected").val();
        console.log($(this)[0].id.split('-')[1])
        $( "#"+div+" ."+$(this)[0].id.split('-')[1]).removeClass( "visible");
        $( "#"+div+" ."+selected ).addClass( "visible");
      });
      $("select#abundances_model-type").change(function(){
        var div = $(this).closest('.panel')[0].id;
        selected = $(this).children(":selected").val();
        $( "#"+div+" ."+$(this)[0].id.split('-')[1]).removeClass( "visible");
        $( "#"+div+" ."+selected ).addClass( "visible");
      });
      $("input[type='checkbox']").change(function(){
        var value = $(this)[0].id
        if($(this).is(":checked")) {
          $( "."+value ).addClass( "visible");
          $("."+value+" > .col-md-8 > .col-md-6 > select").each(function() {
            console.log(this);
            $(this).trigger("change");
          });
        }
        else {
          $( "."+value ).removeClass("visible");
          $("."+value+" input[type='checkbox']").each(function() {
            $(this).attr('checked', false);
            $(this).trigger("change");
          });
        }
      });

      $("input[type='radio']").change(function(){

      });
      $(document).ready(function () {
        $("select").each(function() {
            $(this).trigger("change");
          });
        $("input[type='checkbox']").each(function() {
            $(this).trigger("change");
          });
      })
    </script>
  </body>
 </html>
