<!DOCTYPE html>
<html lang="en" ng-app="tardisApp">
<head>
  <meta charset="UTF-8">
  <title>Tardis web interface</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/app/style.css">
</head>
<body ng-controller="MainCtrl as main">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          TARDIS
        </a>
      </div>
      <div class="collapse navbar-collapse nav-collapse"></div>
    </div>
  </nav>

  <div class="container">
    
    <div class="row  row-centered">
      <div class="col-md-12">
        <h2> web interface for Tardis</h2>
        <p>Use this online form to help you to create the input file for tardis-sn, for detail documentation about each field please read <a href="http://tardis.readthedocs.org/en/latest/configuration/configuration.html">this link</a></p>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="main.advanced"> Show advanced options
          </label>
        </div>

        <div class="col-xs-12 col-centered input-form">
          <ul class="nav nav-tabs">
            <li role="presentation" ng-repeat="tab in main.tabs" 
                ng-click="main.changeTab($index, tab)" ng-class="{active: main.tabIndex == $index}">
              <a href="#">{$ tab.name $}</a>
            </li>
          </ul>
        </div>
        <form novalidate class="form-horizontal">

          <div class="col-xs-12 col-centered input-form padding">
            <div ng-repeat="tab in main.tabs" ng-show="main.tabIndex == $index">
              <div ng-include src="'/static/app/' + tab.template"></div>
            </div>
          </div>         

          <div class="col-sm-12 col-centered input-form">
            <button class="btn btn-success pull-left" ng-click="main.prevTab()" ng-hide="main.tabIndex == 0">
              <i class="glyphicon glyphicon-chevron-left"></i>
              prev
            </button>
            <button class="btn btn-success pull-right" ng-click="main.nextTab()" 
                    ng-hide="main.tabIndex == main.tabs.length - 1">
              next
              <i class="glyphicon glyphicon-chevron-right"></i>
            </button>
            <button class="btn btn-info pull-right" ng-click="main.nextTab()" 
                    ng-show="main.tabIndex == main.tabs.length - 1">
              <i class="glyphicon glyphicon-log-out"></i>
              generate input file
            </button>
          </div>

        </form>

      </div>
    </div>

  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

  <script src="/static/app.js"></script>
  <script src="/static/app/input-data/tag-directive.js"></script>
  <script src="/static/app/main-ctrl.js"></script>
</body>
</html>