--prefix=/home/youssef/Tardis/Tardis/tardis/asv/env/693a3c83111344a0c26800c96d9a4de0
--with-hdf5=/home/youssef/Tardis/Tardis/tardis/asv/env/693a3c83111344a0c26800c96d9a4de0
--enable-shared
--enable-dagmc
--enable-tools
CC=gcc
CFLAGS= -m64
LDFLAGS= -Wl,-rpath,/home/youssef/Tardis/Tardis/tardis/asv/env/693a3c83111344a0c26800c96d9a4de0/lib -L/home/youssef/Tardis/Tardis/tardis/asv/env/693a3c83111344a0c26800c96d9a4de0/lib
CPPFLAGS= -I/home/youssef/Tardis/Tardis/tardis/asv/env/693a3c83111344a0c26800c96d9a4de0/include
CXX=g++
CXXFLAGS= -DBOOST_MATH_DISABLE_FLOAT128 -m64
