doctype html(lang='en')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Tardis
  // Bootstrap
  link(href='css/bootstrap.min.css', rel='stylesheet')
  // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
  // WARNING: Respond.js doesn't work if you view the page via file://
  //if lt IE 9
    script(src='https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')

  style.
    body {
      width: 1000px;
      margin: 0 auto;
      padding: 50px;
    }
    .input-group-btn {
      width: auto;
    }
    .form-control {
      padding: 6px 12px;
    }
    span.help {
      border-radius: 50%;
      background: #777;
      color: #fff;
      width: 20px;
      height: 20px;
      margin: 7px;
      line-height: 20px;
      font-weight: 600;
      display: block;
      text-align: center;
      vertical-align: middle;
    }
    label.mandatory {
      color: red;
    }
    .panel .white {
      border: none;
      box-shadow: none;
    }
    .panel .white > .panel-heading{
      border: none;
      background: none;
    }
    
    .panel-heading > h4 > a:before {
      font-family:'Glyphicons Halflings';
      content:"\e114";
      float: left;
      margin-right: 20px;
      color: #777;
    }
    .panel-heading > h4 > a.collapsed:before {
      font-family:'Glyphicons Halflings';
      content:"\e080";
      margin-right: 20px;
      float: left;
      color: #777;
    }
    input.big {
      height: 34px;
    }
    .nav-pills {
    padding-bottom: 20px;
    border-bottom: 1px #ccc solid;
    margin-bottom: 20px;
    }
    .visible {
    display: block !important;
    visibility: visible !important; 
    }
  body
    h1 TARDIS
    .panel.panel-default
      .panel-heading
        h3.panel-title Supernova
      .panel-body
        form.form-horizontal
          .row
            .col-md-8.form-group
              label.col-md-6.control-label.mandatory Luminosity Requested
              .input-group.col-md-6
                input.form-control(type="text",placeholder="1")
                .input-group-btn
                  select.form-control
                    option Lsun
                    option erg/s
                    option log_lsun
            .col-md-4
              span.help(data-toggle="tooltip",data-placement="right",title="requested output luminosity for simulation") ?
          .row
            .col-md-8.form-group
              label.col-md-6.control-label.mandatory Time since explosion
              .input-group.col-md-6
                input.form-control(type="text")
                .input-group-btn
                  select.form-control
                    option day
                    option year
                    option second
          .row
            .col-md-8.form-group
              label.col-md-6.control-label Distance from supernova
              .input-group.col-md-6
                input.form-control(type="text")
                .input-group-btn
                  select.form-control
                    option Parsec
                    option MParsec
          .row
            .col-md-8.form-group
              label.col-md-6.control-label Luminosity Wavelength (Start)
              .input-group.col-md-6
                input.form-control(type="text",placeholder="0")
                .input-group-btn
                  select.form-control
                    option angstrom
            .col-md-4
              span.help(data-toggle="tooltip",data-placement="right",title="start of the integral needed for getting the luminosity right") ?
          .row
            .col-md-8.form-group
              label.col-md-6.control-label Luminosity Wavelength (End)
              .input-group.col-md-6
                input.form-control(type="text",placeholder="inf")
                .input-group-btn
                  select.form-control
                    option angstrom
            .col-md-4
              span.help(data-toggle="tooltip",data-placement="right",title="end of the integral needed for getting the luminosity right") ?
          
    .panel.panel-default
      .panel-heading
        h3.panel-title Atom Data
      .panel-body
        p Upload Atomic Data in the 
          a(href="http://tardis.readthedocs.org/en/latest/atomic/atomic_data_description.html") HDF5 format.
        .form-group
          input#exampleInputFile(type="file")

    .panel.panel-default
      .panel-heading
        h3.panel-title Plasma
      .panel-body
        form.form-horizontal
          .row
            .col-md-8.form-group
              label.col-md-6.control-label initial_t_inner
              .input-group.col-md-6
                input.form-control(type="text",placeholder="-1")
                .input-group-btn
                  select.form-control
                    option Kelvin
            .col-md-4
              span.help(data-toggle="tooltip",data-placement="right",title="initial temperature of the inner boundary black body. If set to -1 K will result in automatic calculation of boundary") ?
          .row
            .col-md-8.form-group
              label.col-md-6.control-label initial_t_rad
              .input-group.col-md-6
                input.form-control(type="text",placeholder="1000")
                .input-group-btn
                  select.form-control
                    option Kelvin
            .col-md-4
              span.help(data-toggle="tooltip",data-placement="right",title="initial radiative temperature in all cells (if set)") ?
          .row
            .col-md-8.form-group
              label.col-md-6.control-label disable_electron_scattering
              .input-group.col-md-6
                input.big(type="checkbox")
            .col-md-4
              span.help(data-toggle="tooltip",data-placement="right",title="disable electron scattering process in montecarlo part - non-physical only for tests") ?
          .row
            .col-md-8.form-group
              label.col-md-6.control-label.mandatory ionization treatment mode
              .input-group.col-md-6
                .input-group-btn
                  select.form-control
                    option Nebular
                    option LTE
          .row
            .col-md-8.form-group
              label.col-md-6.control-label.mandatory excitation treatment mode
              .input-group.col-md-6
                .input-group-btn
                  select.form-control
                    option LTE
                    option Dilute LTE
          .row
            .col-md-8.form-group
              label.col-md-6.control-label.mandatory radiative rates treatment mode
              .input-group.col-md-6
                .input-group-btn
                  select.form-control
                    option Dilute Blackbody
                    option Detailed
          .row
            .col-md-8.form-group
              label.col-md-6.control-label.mandatory line interaction mode
              .input-group.col-md-6
                .input-group-btn
                  select.form-control
                    option Scatter
                    option Downbranch
                    option Macro Atom
          .row
            .col-md-8.form-group
              label.col-md-6.control-label w_epsilon
              .input-group.col-md-6
                input.form-control(type="text",placeholder="1e-10")
                .input-group-btn
            .col-md-4
              span.help(data-toggle="tooltip",data-placement="right",title="w to use when j_blues get numerically 0. - avoids numerical complications") ?
          .row
            .col-md-8.form-group
              label.col-md-6.control-label delta_treatment
              .input-group.col-md-6
                input.form-control(type="text")
                .input-group-btn
            .col-md-4
              span.help(data-toggle="tooltip",data-placement="right",title="In the saha calculation set delta equals to the number given in this configuration item. if set to None (default), normal delta treatment (as described in Mazzali & Lucy 1993) will be applied") ?

          .col-md-12
            .panel.panel-default.white
              #headingOne.panel-heading(role="tab")
                h4.panel-title
                  a.collapsed(data-toggle="collapse", data-parent="#accordion", href="#collapseOne", aria-expanded="false", aria-controls="collapseOne")
                    | NLTE_Options
              #collapseOne.panel-collapse.collapse(role="tabpanel", aria-labelledby="headingOne")
                .panel-body
                  .row
                    .col-md-8.form-group
                      label.col-md-6.control-label Species
                      .input-group.col-md-6
                        input.form-control(type="text")
                        .input-group-btn
                    .col-md-4
                      span.help(data-toggle="tooltip",data-placement="right",title="Species that are requested to be NLTE treated in the format ['Si 2', 'Ca 1', etc.]") ?
                  .row
                    .col-md-8.form-group
                      label.col-md-6.control-label coronal_approximation
                      .input-group.col-md-6
                        input.big(type="checkbox")
                    .col-md-4
                      span.help(data-toggle="tooltip",data-placement="right",title="set all jblues=0.0") ?
                  .row
                    .col-md-8.form-group
                      label.col-md-6.control-label classical_nebular
                      .input-group.col-md-6
                        input.big(type="checkbox")
                    .col-md-4
                      span.help(data-toggle="tooltip",data-placement="right",title="sets all beta_sobolevs to 1") ?



          
          
    .panel.panel-default
      .panel-heading
        h3.panel-title Model
      .panel-body
        h3 Structure
        br
        div(role="tabpanel").well
          //- Nav tabs
          ul.nav.nav-pills(role="tablist")
            li.active(role="presentation")
              a(href="#home", aria-controls="home", role="tab", data-toggle="tab") Specific Entries
            li(style='vertical-align=middle;padding:10px 50px;')
              span OR 
            li(role="presentation")
              a(href="#profile", aria-controls="profile", role="tab", data-toggle="tab") File Upload
          //- Tab panes
          .tab-content
            #home.tab-pane.active(role="tabpanel")
              form.form-horizontal
                .row
                  .col-md-8.form-group
                    label.col-md-6.control-label Velocity
                .row
                  .col-md-8.form-group
                    label.col-md-6.control-label.mandatory - Start
                    .input-group.col-md-6
                      input.form-control(type="text")
                      .input-group-btn
                        select.form-control
                          option km/s
                          option km/hr
                          option m/s
                .row
                  .col-md-8.form-group
                    label.col-md-6.control-label.mandatory - Stop
                    .input-group.col-md-6
                      input.form-control(type="text")
                      .input-group-btn
                        select.form-control
                          option km/s
                          option km/hr
                          option m/s
                .row
                  .col-md-8.form-group
                    label.col-md-6.control-label.mandatory - Num
                    .input-group.col-md-6
                      input.form-control(type="text")
                .row
                  .col-md-8.form-group
                    label.col-md-6.control-label Density
                .row
                  .col-md-8.form-group
                    label.col-md-6.control-label.mandatory - Type
                    .input-group.col-md-6
                      select.form-control.structure-select
                        option branch85_w7
                        option exponential
                        option power_law
                        option uniform
                .row.structure-select-options.power_law.exponential.hidden
                  .col-md-8.form-group
                    label.col-md-6.control-label.mandatory - time_0
                    .input-group.col-md-6
                      input.form-control(type="text")
                  .col-md-4
                    span.help(data-toggle="tooltip",data-placement="right",title="Time at which the pure model densities are right") ?
                .row.structure-select-options.power_law.exponential.hidden
                  .col-md-8.form-group
                    label.col-md-6.control-label.mandatory - rho_0
                    .input-group.col-md-6
                      input.form-control(type="text")
                  .col-md-4
                    span.help(data-toggle="tooltip",data-placement="right",title="density at time_0") ?
                .row.structure-select-options.power_law.exponential.hidden
                  .col-md-8.form-group
                    label.col-md-6.control-label.mandatory - v_0
                    .input-group.col-md-6
                      input.form-control(type="text")
                  .col-md-4
                    span.help(data-toggle="tooltip",data-placement="right",title="at what velocity the density rho_0 applies") ?
                .row.structure-select-options.power_law.hidden
                  .col-md-8.form-group
                    label.col-md-6.control-label.mandatory - exponent
                    .input-group.col-md-6
                      input.form-control(type="text")
                  .col-md-4
                    span.help(data-toggle="tooltip",data-placement="right",title="exponent for exponential density profile") ?
                .row.structure-select-options.uniform.hidden
                  .col-md-8.form-group
                    label.col-md-6.control-label.mandatory - value
                    .input-group.col-md-6
                      input.form-control(type="text")
                  .col-md-4
                    span.help(data-toggle="tooltip",data-placement="right",title="value for uniform density") ?

            #profile.tab-pane(role="tabpanel")
              form.form-horizontal
                .row
                  .col-md-8.form-group
                    label.col-md-6.control-label.mandatory Upload Model
                    .input-group.col-md-6
                      input#exampleInputFile(type="file")
                .row
                  .col-md-8.form-group
                    label.col-md-6.control-label.mandatory Filetype
                    .input-group.col-md-6
                      select.form-control
                        option Artis
                        option Simple ASCII
                .row
                    .col-md-8.form-group
                      label.col-md-6.control-label v_inner_boundary
                      .input-group.col-md-6
                        input.form-control(type="text",placeholder="0")
                        .input-group-btn
                          select.form-control
                            option km/s
                            option km/hr
                            option m/s
                    .col-md-4
                      span.help(data-toggle="tooltip",data-placement="right",title="location of the inner boundary chosen from the model") ?
                .row
                    .col-md-8.form-group
                      label.col-md-6.control-label v_outer_boundary
                      .input-group.col-md-6
                        input.form-control(type="text",placeholder="inf")
                        .input-group-btn
                          select.form-control
                            option km/s
                            option km/hr
                            option m/s
                    .col-md-4
                      span.help(data-toggle="tooltip",data-placement="right",title="location of the outer boundary chosen from the model") ?

        h3 Abundance
        form.form-horizontal
          .row
            .col-md-8.form-group
              label.col-md-6.control-label File
              .input-group.col-md-6
                input#exampleInputFile(type="file")
          .row
            .col-md-8.form-group
              label.col-md-6.control-label Filetype
              .input-group.col-md-6
                select.form-control
                  option Artis
                  option Simple ASCII
          .row
            .col-md-8.form-group
              label.col-md-6.control-label Uniform Ambundances
              .input-group.col-md-6
                <textarea class="form-control" rows="5"></textarea>
            .col-md-4
              span.help(data-toggle="tooltip",data-placement="right",title="Insert Uniform abundances of all the shells, in the format: \nC: 0.01\nO: 0.01\netc...") ?


    .panel.panel-default
      .panel-heading
        h3.panel-title Monte Carlo
      .panel-body
        form.form-horizontal
          .row
            .col-md-8.form-group
              label.col-md-6.control-label Seed
              .input-group.col-md-6
                input.form-control(type="text",placeholder="23111963")
            .col-md-4
              span.help(data-toggle="tooltip",data-placement="right",title="Seed for the random number generator") ?
          .row
            .col-md-8.form-group
              label.col-md-6.control-label.mandatory no_of_packets
              .input-group.col-md-6
                input.form-control(type="text")
                .input-group-btn
            .col-md-4
              span.help(data-toggle="tooltip",data-placement="right",title="Seed for the random number generator") ?
          .row
            .col-md-8.form-group
              label.col-md-6.control-label.mandatory iterations
              .input-group.col-md-6
                input.form-control(type="text")
                .input-group-btn
            .col-md-4
              span.help(data-toggle="tooltip",data-placement="right",title="Number of maximum iterations") ?
          .row
            .col-md-8.form-group
              label.col-md-6.control-label black_body_sampling
            .col-md-4
              span.help(data-toggle="tooltip",data-placement="right",title="Sampling of the black-body for energy packet creation (giving maximum and minimum packet frequency)") ?
          .row
            .col-md-8.form-group
              label.col-md-6.control-label - Start
              .input-group.col-md-6
                input.form-control(type="text",placeholder="50")
                .input-group-btn
                  select.form-control
                    option angstrom
          .row
            .col-md-8.form-group
              label.col-md-6.control-label - Stop
              .input-group.col-md-6
                input.form-control(type="text",placeholder="200000")
                .input-group-btn
                  select.form-control
                    option angstrom
          .row
            .col-md-8.form-group
              label.col-md-6.control-label - Num
              .input-group.col-md-6
                input.form-control(type="text",placeholder="1000000")
          .row
            .col-md-8.form-group
              label.col-md-6.control-label last_no_of_packets
              .input-group.col-md-6
                input.form-control(type="text",placeholder="-1")
            .col-md-4
              span.help(data-toggle="tooltip",data-placement="right",title="This can set the number of packets for the last run. If set negative it will remain the same as all other runs.") ?
          .row
            .col-md-8.form-group
              label.col-md-6.control-label no_of_virtual_packets
              .input-group.col-md-6
                input.form-control(type="text",placeholder="0")
            .col-md-4
              span.help(data-toggle="tooltip",data-placement="right",title="Setting the number of virtual packets for the last iteration.") ?
          .row
            .col-md-8.form-group
              label.col-md-6.control-label enable_reflective_inner_boundary
              .input-group.col-md-6
                input.big(type="checkbox")
            .col-md-4
              span.help(data-toggle="tooltip",data-placement="right",title="experimental feature to enable a reflective boundary.") ?
          .row
            .col-md-8.form-group
              label.col-md-6.control-label inner_boundary_albedo
              .input-group.col-md-6
                input.form-control(type="text",placeholder="0.0")
            .col-md-4
              span.help(data-toggle="tooltip",data-placement="right",title="albedo of the reflective boundary") ?
        
    .panel.panel-default
      .panel-heading
        h3.panel-title Spectrum
      .panel-body
        form.form-horizontal
          .row
            .col-md-8.form-group
              label.col-md-6.control-label Start
              .input-group.col-md-6
                input.form-control(type="text",placeholder="50")
                .input-group-btn
                  select.form-control
                    option angstrom
          .row
            .col-md-8.form-group
              label.col-md-6.control-label Stop
              .input-group.col-md-6
                input.form-control(type="text",placeholder="200000")
                .input-group-btn
                  select.form-control
                    option angstrom
          .row
            .col-md-8.form-group
              label.col-md-6.control-label Num
              .input-group.col-md-6
                input.form-control(type="text",placeholder="1000000")
          .row
            .col-md-8.form-group
              label.col-md-6.control-label 
                h4 Convergence Criteria
              .input-group.col-md-6
                input.big#convergence-criteria-check(type="checkbox")
          .convergence-criteria.hidden
            .row
              .col-md-8.form-group
                label.col-md-6.control-label Type
                .input-group.col-md-6
                  select.form-control.structure-select
                    option Specific
                    option Damped
            .row
              .col-md-8.form-group
                label.col-md-6.control-label t_inner_update_exponent
                .input-group.col-md-6
                  input.form-control(type="text",placeholder="-0.5")
              .col-md-4
                span.help(data-toggle="tooltip",data-placement="right",title="L=4*pi*r**2*T^y") ?
            .row
              .col-md-8.form-group
                label.col-md-6.control-label lock_t_inner_cycles
                .input-group.col-md-6
                  input.form-control(type="text",placeholder="1")
              .col-md-4
                span.help(data-toggle="tooltip",data-placement="right",title="The number of cycles to lock the update of the inner boundary temperature. This process helps with convergence. The default is to switch it off (1 cycle)") ?
            .row.structure-select-options.Specific.hidden.visible
              .col-md-8.form-group
                label.col-md-6.control-label.mandatory hold-iterations
                .input-group.col-md-6
                  input.form-control(type="text",placeholder="3")
              .col-md-4
                span.help(data-toggle="tooltip",data-placement="right",title="The number of iterations that the convergence criteria need to be fulfilled before TARDIS accepts the simulation as converged") ?
            .row.structure-select-options.Specific.hidden.visible
              .col-md-8.form-group
                label.col-md-6.control-label.mandatory fraction
                .input-group.col-md-6
                  input.form-control(type="text",placeholder="0.8")
              .col-md-4
                span.help(data-toggle="tooltip",data-placement="right",title="he fraction of shells that have to converge to the given convergence threshold. For example, 0.8 means that 80% of shells have to converge to the threshold that convergence is established") ?
            .row.structure-select-options.Damped.hidden
              .col-md-8.form-group
                label.col-md-6.control-label damping_constant
                .input-group.col-md-6
                  input.form-control(type="text",placeholder="0.5")
            .row.structure-select-options.Specific.hidden.visible
              .col-md-8.form-group
                label.col-md-6.control-label.mandatory damping_constant
                .input-group.col-md-6
                  input.form-control(type="text",placeholder="0.5")
            .row.structure-select-options.Specific.hidden.visible
              .col-md-8.form-group
                label.col-md-6.control-label.mandatory threshold
                .input-group.col-md-6
                  input.form-control(type="text",placeholder="1")
              .col-md-4
                span.help(data-toggle="tooltip",data-placement="right",title="specifies the threshold that is taken as convergence (i.e. 0.05 means that the value does not change more than 5%)") ?
            .row.structure-select-options
              .col-md-8.form-group
                label.col-md-6.control-label t_inner
                .input-group.col-md-6
                  input.big#t-inner-check(type="checkbox",placeholder="1")
            .t-inner.hidden
              .row.structure-select-options
                .col-md-8.form-group
                  label.col-md-6.control-label damping_constant
                  .input-group.col-md-6
                    input.form-control(type="text",placeholder="0.5")
              .row.structure-select-options
                .col-md-8.form-group
                  label.col-md-6.control-label threshold
                  .input-group.col-md-6
                    input.form-control(type="text",placeholder="1")
                .col-md-4
                  span.help(data-toggle="tooltip",data-placement="right",title="specifies the threshold that is taken as convergence (i.e. 0.05 means that the value does not change more than 5%)") ?
            .row.structure-select-options
              .col-md-8.form-group
                label.col-md-6.control-label t_rad
                .input-group.col-md-6
                  input.big#t-rad-check(type="checkbox",placeholder="1")
            .t-rad.hidden
              .row.structure-select-options
                .col-md-8.form-group
                  label.col-md-6.control-label damping_constant
                  .input-group.col-md-6
                    input.form-control(type="text",placeholder="0.5")
              .row.structure-select-options
                .col-md-8.form-group
                  label.col-md-6.control-label.mandatory threshold
                  .input-group.col-md-6
                    input.form-control(type="text",placeholder="1")
                .col-md-4
                  span.help(data-toggle="tooltip",data-placement="right",title="specifies the threshold that is taken as convergence (i.e. 0.05 means that the value does not change more than 5%)") ?
            .row.structure-select-options
              .col-md-8.form-group
                label.col-md-6.control-label t_w
                .input-group.col-md-6
                  input.big#t-w-check(type="checkbox",placeholder="1")
            .t-w.hidden
              .row.structure-select-options
                .col-md-8.form-group
                  label.col-md-6.control-label damping_constant
                  .input-group.col-md-6
                    input.form-control(type="text",placeholder="0.5")
              .row.structure-select-options
                .col-md-8.form-group
                  label.col-md-6.control-label.mandatory threshold
                  .input-group.col-md-6
                    input.form-control(type="text",placeholder="1")
                .col-md-4
                  span.help(data-toggle="tooltip",data-placement="right",title="specifies the threshold that is taken as convergence (i.e. 0.05 means that the value does not change more than 5%)") ?

    button.btn.btn-primary.btn-lg.btn-block(type="button") Generate YAML File








    // jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src='js/jquery.min.js')
    // Include all compiled plugins (below), or include individual files as needed
    script(src='js/bootstrap.min.js')

    script.
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
      $("select.structure-select").change(function(){
        selected = $(this).children(":selected").html();

        $( ".structure-select-options" ).removeClass( "visible");
        $( "."+selected ).addClass( "visible");
      });
      $("#t-inner-check").change(function(){
        if($(this).is(":checked"))
          $( ".t-inner" ).addClass( "visible");
        else
          $( ".t-inner" ).removeClass("visible");
      });
      $("#t-rad-check").change(function(){
        if($(this).is(":checked"))
          $( ".t-rad" ).addClass( "visible");
        else
          $( ".t-rad" ).removeClass("visible");
      });
      $("#t-w-check").change(function(){
        if($(this).is(":checked"))
          $( ".t-w" ).addClass( "visible");
        else
          $( ".t-w" ).removeClass("visible");
      });
      $("#convergence-criteria-check").change(function(){
        if($(this).is(":checked"))
          $( ".convergence-criteria" ).addClass( "visible");
        else
          $( ".convergence-criteria" ).removeClass("visible");
      });
