name: benchmarks

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'
    types:
      - opened
      - reopened
      - synchronize
      - labeled # run-benchmarks label required

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash -l {0}

jobs:
  build:
    if: github.event_name == 'push' ||
        github.event_name == 'workflow_dispatch' || 
        contains(github.event.pull_request.labels.*.name, 'run-benchmarks')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Download Atom Data
        run: |
          REPO_URL="https://dev.azure.com/tardis-sn/TARDIS/_apis/git/repositories/tardis-refdata"
          wget -q "$REPO_URL/items?path=atom_data/kurucz_cd23_chianti_H_He.h5&versionType=branch&version=master&resolveLfs=true" -O benchmarks/data/kurucz_cd23_chianti_H_He.h5

      - name: Install asv
        run: pip install asv

      - name: Install h5py 
        # Installation of h5py caused troubles which can be fixed via installing it via pip
        # https://github.com/h5py/h5py/issues/1880
        run: pip install h5py

      - name: Accpet all asv questions
        run: asv machine --yes
      
      - name: Run benchmarks for last 5 commits if not PR
        if: github.event_name != 'pull_request'
        run: |
          git log -n 5  --pretty=format:"%H" >> tag_commits.txt
          asv run HASHFILE:tag_commits.txt | tee asv-output.log  
          if grep -q failed asv-output.log; then 
            echo "Some benchmarks have failed!"
            exit 1
          fi
          
      - name: Generate Graphs and HTML
        if: github.event_name != 'pull_request'
        run: asv publish
      
      - name: Push results to results repository
        if: github.event_name != 'pull_request'
        continue-on-error: true
        uses: cpina/github-action-push-to-another-repository@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.BOT_TOKEN }}
        with:
          source-directory: .asv
          destination-github-username: tardis-sn
          destination-repository-name: tardis-benchmarks
          user-email: tardis.sn.bot@gmail.com
          target-branch: main
          target-directory: .asv
      
      - name: Compare HEAD with master if PR
        if: github.event_name == 'pull_request'
        continue-on-error: true # TODO: step failed sporadically while testing
        run: |
          asv continuous ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }}  | tee asv-cont-output.log  
          if grep -q failed asv-output.log; then 
            echo "Some benchmarks have errors!"
            exit 1
          fi
      
      - run: asv compare ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }} | tee asv-compare-output.log  
      - run: asv compare ${{ github.event.pull_request.base.sha }} ${{ github.event.pull_request.head.sha }} --only-changed | tee asv-compare-changed-output.log  
      
      - name: asv output 1
        id: asv_pr_vs_master
        uses: juliangruber/read-file-action@v1.0.0
        with:
          path: asv-compare-output.log

      - name: asv output 2
        id: asv_pr_vs_master_changed
        uses: juliangruber/read-file-action@v1.0.0
        with:
          path: asv-compare-changed-output.log 

      - name: Find Comment
        if: github.event_name == 'pull_request'
        uses: peter-evans/find-comment@v1
        id: fc
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: 'tardis-bot'
          body-includes: I ran benchmarks as you asked

      - name: Post comment
        if: github.event_name == 'pull_request'
        uses: peter-evans/create-or-update-comment@v2
        with:
          token:  ${{ secrets.BOT_TOKEN }}
          issue-number: ${{ github.event.pull_request.number }} 
          comment-id: ${{ steps.fc.outputs.comment-id }}
          body: |
            *\*beep\* \*bop\**
            Hi human, 
            I ran benchmarks as you asked comparing master (${{ github.event.pull_request.base.sha }}) and the latest commit (${{ github.event.pull_request.head.sha }}). 
            Here are the logs produced by ASV.
            Results can also be downloaded as artifacts [**here**](${{ env.URL }}). 
            Significantly changed benchmarks:
            <details>

              ```diff
              ${{ steps.asv_pr_vs_master_changed.outputs.content }}
              ```

            </details>
            
            All benchmarks:
            <details>

              ```diff
              ${{ steps.asv_pr_vs_master.outputs.content }}
              ```
              
            </details>
        env:
          URL: https://github.com/${{ github.repository_owner }}/${{ github.event.repository.name }}/actions/runs/${{ github.run_id }}?check_suite_focus=true
      
      - name: Delete env files
        run: rm -r .asv/env
        
      - name: Save results artifact
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: asv-benchmark-results-${{ runner.os }}
          path: |
            .asv/results
            asv-cont-output.log  
            asv-compare-output.log
            asv-compare-changed-output.log 

      