# For more information on how to use this template please refer to:
# http://tardis-sn.github.io/tardis/development/continuous_integration.html

name: documentation-build

on:
  push:
    pull_request:
      branches:
        - master
    branches:
      - master

  schedule:
    - cron: "10 0 * * 0"

jobs:
  documentation_build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup TARDIS Environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          environment-file: tardis_env3.yml
          activate-environment: tardis
          channels: conda-forge
          mamba-version: "*"

      - name: Install TARDIS
        shell: bash -l {0}
        run: python setup.py install

      - name: Build Sphinx Documentation
        shell: bash -l {0}
        run: python setup.py build_docs

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: docs/_build/html/
          publish_branch: gh-pages
