#  For more information about TARDIS pipelines, please refer to:
#
#    https://tardis-sn.github.io/tardis/development/continuous_integration.html

name: tests

on:
  push:
    branches:
    - '*'

  pull_request:
    branches:
    - '*'

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

env:
  PYTEST_FLAGS: --tardis-refdata=${{ github.workspace }}/tardis-refdata
                --cov=tardis --cov-report=xml --cov-report=html
  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

jobs:
  build:

    strategy:
      matrix:
        include:
        - os: ubuntu-latest
          label: linux-64

        - os: macos-latest
          label: osx-64

    name: ${{ matrix.label }}

    defaults:
      run:
        shell: bash -l {0}

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v2

      - name: Download reference data
        run: bash .ci-helpers/download_reference_data.sh

      - name: Setup environment
        uses: conda-incubator/setup-miniconda@v2
        with:
            miniforge-variant: Mambaforge
            miniforge-version: latest
            environment-file: conda-${{ matrix.label }}.lock
            activate-environment: tardis
            use-mamba: true

      - name: Install package
        run: pip install -e .

      - name: Run tests
        run: pytest tardis ${{ env.PYTEST_FLAGS }}

      - name: Upload to Codecov
        run: bash <(curl -s https://codecov.io/bash)
