# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  batch: true
  branches:
    include:
      - master

variables:
  system.debug: "true"
  tardis.build.dir: $(Build.Repository.LocalPath)

pool:
  vmImage: "ubuntu-latest"

steps:
  - bash: |
      echo "##vso[task.prependpath]$CONDA/bin"
      sudo chown -R $USER $CONDA
    displayName: "Add CONDA to path"

  - bash: |
      sh ci-helpers/install_tardis_env.sh
    displayName: "Install TARDIS env"

  - bash: |
      source activate tardis
      python setup.py install
    displayName: "Build & install TARDIS"

  - bash: |
      source activate tardis
      echo "##vso[task.setvariable variable=version]$(python -c 'import tardis; print(tardis.__version__)')"
    displayName: "Get TARDIS version number"

  - bash: |
      echo $(VERSION)
    displayName: "Recover TARDIS version number"

  - task: GitHubRelease@1
    inputs:
      gitHubConnection: "wkerzendorf"
      repositoryName: "$(Build.Repository.Name)"
      action: "create"
      target: "$(Build.SourceVersion)"
      tagSource: "userSpecifiedTag"
      tag: "($VERSION)"
      title: "TARDIS v($VERSION)"
      isPreRelease: true
      changeLogCompareToRelease: "lastFullRelease"
      changeLogType: "commitBased"
